# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.LD.DocMan.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jay\RiderProjects\DocMan\.idea\.idea.LD.DocMan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
